.side-bar__wrapper{
    float:left;
    width:200px;
    height:100%;
    margin-right:20px;
    border:1px solid #efefef;
    background:white;
}

.side-bar__wrapper li {
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

.side-bar__wrapper li:last-child {
    border-bottom: 0;
}

.side-bar__wrapper li a:hover{
    border-bottom:1px solid green;
    opacity: 1;
}
