.empty-result__set {
  position: relative;
  background: url('../../media/empty-set.png');
  height: 304px;
  background-repeat: no-repeat;
  background-position: center;
}

.supporting_text {
  position: absolute;
  bottom: -30px;
  left: 48%;
  right: 50%;
  color: #404040;
  font-size: 16px;
  width: 300px;
}
