* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ant-menu-item a {
  color: white;
}

.logo {
  height: 32px;
  border-radius: 6px;
  margin: 10px 16px;
}
