.app-general__wrapper {
   height:100%;
   padding: 30px 50px;
}

.main-content__wrapper{
    float: left;
    width: 72%;
    background: white;
    min-height: 800px;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 6px;
    padding: 10px;
}
