.header-wrapper {
  background: rgb(64, 64, 64);
  height: 52px;
  padding: 9px 22px;
  position:relative;
}

.header-right-menu {
  position: absolute;
  max-width: 30%;
  top: 20%;
  right: 10px;
}

.header-right-content {
  width:1128px;
  margin:auto;
  display:block;
}

.profile-link {
  margin-left:8px;
  font-size: 16px;
  margin-left:1px solid #ccc;
  padding-left:8px;
  color: #ffcf40
}
