.header-wrapper {
    background: white;
    height: 64px;
    padding: 20px 22px 0px;
    border-bottom: 1px solid #c0c0c0;
}

.header-content a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}

.header-content a.app-header-logo img {
    height: 25px;
    width: 52px;
}
